#!/bin/sh

# https://stackoverflow.com/questions/18691867/where-to-find-logs-for-a-cloud-init-user-data-script

# Logs for this script are stored in /var/log/cloud-init-output.log

# Ran out of memory very quickly, so using a swap file to help out a bit.
# https://linuxize.com/post/create-a-linux-swap-file/

echo "Configuring Swap File"
sudo fallocate -l 5G /swapfile
sudo chmod 600 /swapfile
sudo mkswap /swapfile
sudo swapon /swapfile

# Execute Simple Install Script for TPOT
PASSWORD=$(< /dev/urandom tr -dc 'A-Za-z0-9' | head -c8)
echo "Your randomly generated web-user password is $PASSWORD"
env myTPOT_TYPE="HIVE" myWEB_USER="SENIORDESIGN" myOK="Y" myWEB_PW=$PASSWORD myWEB_PW2=$PASSWORD bash -c "$(curl -sL https://github.com/uc-mestemax/honey-badger-tpotce/raw/master/install.sh